{% extends "memberbase.html" %}
{% load i18n %}
{% load cloudinary %}


{% block content %}
    {{ block.super }}
    <div class="well">

    {% cloudinary profile_picture crop="thumb" gravity="face" width=150 height=150 %}
            <span class="hidden-xs">
                <h2>@{{ user }}&nbsp;{% trans 'Dashboard' %}</h2>
            </span>
            <span class="visible-xs">
                <h4>@{{ user }}&nbsp;{% trans 'Dashboard' %}</h4>
            </span>

    </div>



    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{%  trans 'Overview' %}</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{%  trans 'Portfolio' %}</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">{%  trans 'Stats' %}</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{%  trans 'Messages' %}<span class="badge">4</span></a></li>
        </ul>
    </div>



    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <div class="container">
                <h2>{%  trans 'Overview' %}</h2>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <div class="container">
                <h2>{%  trans 'Portfolio' %}</h2>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
            <div class="container">
                <h2>{%  trans 'Stats' %}</h2>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <div class="container">
                <h2>{%  trans 'Messages' %}</h2>
            </div>
        </div>

    </div>

{% endblock content %}