{% extends "memberbase.html" %}
{% load i18n %}
{% load cloudinary %}
{% load members_verbose_names %}

{%  block title %}
    {{ user }}&nbsp;{% trans 'Dashboard' %}
{% endblock title %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
{% endblock bootstrap3_extra_head %}

{% block additional_css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet">
{% endblock additional_css %}



{% block content_header_title %}
    {% if profile_photo_url %}
        <img src="{{ profile_photo_url }}" class="img-responsive img-circle">
    {% else %}
        <small>No profile photo available. You can upload one here.</small>
    {% endif %}
{% endblock content_header_title %}

{% block content_header_message %}
    {{ user }}&nbsp;{% trans 'Dashboard' %}
{% endblock content_header_message %}


{% block content %}
    <div class="col-xs-12 col-lg-6 col-md-6 funtograph-sub-panel">
        <div class="well">{%  trans 'Funtograph Levels and experience' %}</div>
        <table class="table">
            <tr>
                <th></th>
                <th>{%  trans 'Level' %}</th>
                <th>{%  trans 'Current XP' %}</th>
                <th>{%  trans 'Ranking' %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'characters:photographer' p_photographer_name=photographer.name %}"
                       class="btn btn-success">
                        {{ photographer.name }}
                    </a>
                </td>
                <td>
                    {{ photographer.level }}
                </td>
                <td>
                    {{ photographer.current_xp }}
                </td>
                <td>
                    {{ photographer.get_current_ranking_photographer }}
                </td>
            </tr>

        </table>


    </div>
    <!-- cols main -->


    <div class="col-xs-12 col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 funtograph-sub-panel">
        <div class="well">{% trans 'My Portfolio' %}</div>
        {%  if photographer_photos_cnt > 0%}
            {% blocktrans %}Number of photos: {{ photographer_photos_cnt }}{% endblocktrans %}
            <hr>
            <a class="btn btn-default" href="{% url 'photos:photographer' photographer.name  %}">{% trans 'View my photos' %}</a>

        {% else %}
            <p>{% trans 'There are no your photos on Funtograph.' %}</p>
        {% endif %}

        <a class="btn btn-default" href="{% url 'photos:upload' %}">{% trans 'Upload photo' %}</a>

    </div>
    <!-- cols sidebar -->
{% endblock content %}