{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load members_verbose_names %}

{% block bootstrap3_title %}
    {% trans 'Funtograph - Register as a new user' %}
{% endblock bootstrap3_title %}

{% block bootstrap3_content %}
    {{ block.super }}


    <div class="container">
        <div class="well" >
            <div align="center">
                <span class="hidden-xs center">
                    <a href="{% url 'lander:index' %}">
                        <img class="img-responsive"  src="{{ STATIC_URL }}img/funtograph-logo-sq-200.png">
                    </a>
                </span>
                <div class="visible-xs">
                    <a href="{% url 'lander:index' %}">
                        <img class="img-responsive" style="margin: 20px;" src="{{ STATIC_URL }}img/Funtograph-onlypic-sq-40.png">
                    </a>
                </div>
                <h1 class="text-success">{% trans 'Register with Funtograph' %}</h1>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        {% if registered %}
            Funtograph says: <strong>@{{ user }}{% trans 'thank you for registering!' %}</strong>
            <a href="{% url 'lander:index' %}">{% trans 'Return to the homepage.' %}</a><br />
        {% else %}

            <form id="user_form" class="form-horizontal" method="post" action="{% url 'members:register' %}"
                  enctype="multipart/form-data" role="form">

                {% csrf_token %}

                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                {% if errors_user != None %}
                    <div class="form-group">
                        <h3 class="help-block bg-error">{% trans 'There seem to be some issues with your registration data' %}</h3>
                        <div class="container bg-danger">
                            <h4>{% trans 'General registration form input issues:' %}</h4>

                            {%  for key, error in errors_user.items %}
                                {%  if key == '__all__' %}
                                    <p>{{ error }}</p>
                                {%  endif %}
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="username" class="col-sm-5 control-label">{% trans 'Screen name' %}:</label>
                    <div class="col-sm-7">
                        {{ user_form.username }}
                        {% if errors_user != None %}

                            {%  for key, error in errors_user.items %}
                                {%  if key == 'username' %}
                                    <p class="help-block">{{ error }}</p>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-5 control-label">{% trans 'Valid email address' %}:</label>
                    <div class="col-sm-7">
                        {{ user_form.email }}
                        {% if errors_user != None %}
                            {%  for key, error in errors_user.items %}
                                {%  if key == 'email' %}
                                    <h4 class="text-danger text-uppercase">{{ error }}</h4>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="form-group">
                    <label for="password1" class="col-sm-5 control-label">{% trans 'Password' %}:</label>
                    <div class="col-sm-7">
                        {{ user_form.password1 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-sm-5 control-label">{% trans 'Repeat password' %}:</label>
                    <div class="col-sm-7">
                        {{ user_form.password2 }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="first_name" class="col-sm-5 control-label">{% trans 'Your first name' %}:</label>
                    <div class="col-sm-7">
                        {{ user_form.first_name }}
                        {% if errors_user != None %}
                            {%  for key, error in errors_user.items %}
                                {%  if key == 'first_name' %}
                                    <h4 class="text-danger text-uppercase">{{ error }}</h4>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="form-group">
                    <label for="last_name" class="col-sm-5 control-label">{% trans 'Your last name' %}:</label>
                    <div class="col-sm-7">
                        {{ user_form.last_name }}
                        {% if errors_user != None %}
                            {%  for key, error in errors_user.items %}
                                {%  if key == 'last_name' %}
                                    <h4 class="text-danger text-uppercase">{{ error }}</h4>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="picture" class="col-sm-5 control-label">{% trans "Upload profile photo" %}:</label>
                    <div class="col-sm-7">
                        {{ profile_form.picture }}
                        <p class="help-block">{% trans 'You can change your profile photo later. Best results if photo includes your face.' %}</p>
                        {% if errors_user != None %}
                            {%  for key, error in errors_user.items %}
                                {%  if key == 'picture' %}
                                    <p class="help-block bg-danger">{{ error }}</p>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-sm-5 control-label">{% get_verbose_field_name member "instagram_handle" %}:</label>
                    <div class="col-sm-7">
                        {{ profile_form.instagram_handle }}
                        {% if errors_user != None %}
                            {%  for key, error in errors_user.items %}
                                {%  if key == 'instagram_handle' %}
                                    <h4 class="text-danger text-uppercase">{{ error }}</h4>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-sm-5 control-label">{% get_verbose_field_name member "eyeem_handle" %}:</label>
                    <div class="col-sm-7">
                        {{ profile_form.eyeem_handle }}
                        {% if errors_user != None %}
                            {%  for key, error in errors_user.items %}
                                {%  if key == 'eyeem_handle' %}
                                    <h4 class="text-danger text-uppercase">{{ error }}</h4>
                                {%  endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <!-- Provide a button to click to submit the form. -->
                <div class="col-sm-12 text-right">
                    <input type="submit" class="btn btn-default" name="submit" value="Register" />
                </div>
            </form>
        {% endif %}
    </div>


    {% block footer %}
        <div class="container">
            <hr>
            <footer>

                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="label label-default">&copy; Funtograph 2015</p>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
    {%  endblock footer %}
{%  endblock bootstrap3_content %}
