{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block bootstrap3_content %}
    {{ block.super }}
    {% bootstrap_messages %}


    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-12 text-right">
                {% if SHOW_TRANSLATIONS == True %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <span class="label label-default">Current Language: {{ LANGUAGE_CODE }}</span>
                    <form action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                                    <span>
                                        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                                    </span>
                        <div class="form-group" style="margin-top: 5px;">
                            <!--<select name="language" class="btn btn-default btn-xs">-->
                            {% for lang in LANGUAGES %}
                                <!--<option value="{{ lang.0 }}">{{ lang.1 }}</option>-->
                                <input type="hidden" name="language" value="{{lang.0}}"/>
                                <input id="lang_{{lang.0}}" type = "image" src="{{ STATIC_URL }}img/{{ lang.0 }}.png" alt="{{ lang.1 }}"/>
                            {% endfor %}
                            <!--</select>-->
                            <!--<input type="submit" class="btn btn-success btn-xs" value="Go" />-->
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row" style="padding-bottom:10px;" >
                    <div class="col-sm-3">
                        <div class="center-block">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/funtograph-logo-sq-200.png" style="display:inline-block;">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <h1 class="text-center text-success">{% trans 'Hello, photographer!' %}</h1>
                        <p class="text-justify">
                            {% trans 'Welcome to Funtograph, breakthrough game for photographers. It is time to show off your photography skills against world-class photographers. Discover this revolutionary game now and become #1!' %}
                        </p>
                    </div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-sm-3 text-center">
                        </div>
                        <div class="col-sm-9 text-center">
                            <div class="text-center well">
                                <h2 class="text-warning" style="padding-bottom: 20px;" id="singnupform">{% trans 'COMING SOON' %}<br>
                                    <small>{% trans 'Leave us your email address. We will notify you when the game starts.' %}</small></h2>
                                <div class="center-block">
                                    <form method="POST" role="form" action="{% url 'lander:signupemail' %}" style="width: 300px; display:inline-block;">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label class="text-primary" for="email">{% trans 'Your email:' %}</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            <label class="text-primary" for="name">{% trans 'Your name:' %}</label>
                                            {{ form.name }}
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">{% trans 'Sign up' %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            {% if FUNTOGRAPH_IS_LIVE == True %}
                                <div class="text-center well">
                                    <a href="{% url 'members:login' %}"><button class="btn btn-primary">{% trans 'Login' %}</button></a>
                                    <a href="{% url 'members:register' %}"><button class="btn btn-success">{% trans 'Register as new user' %}</button></a>
                                </div>
                            {%  endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>




    <div class="container">
        <!-- Example row of columns -->
        <div class="row" style="padding-bottom:50px;" >
            <div class="col-sm-4">
                <h2 class="bg-primary text-center" style="padding:10px;">{% trans 'Build Your Photo Empire' %}</h2>
                <img src="{{ STATIC_URL }}img/empire-300-md.png" class="center-block img-responsive" alt="Responsive image">
                <p class="text-justify">{% trans 'Start from scratch and become the most prominent photographer. Build your empire step by step and rule the photo world!' %}</p>
                <p><a class="btn btn-default" href="#buildempire" role="button">{% autoescape off %}{% trans 'View details' %}&raquo;{% endautoescape %}</a></p>
            </div>
            <div class="col-sm-4">
                <h2 class="bg-success text-center" style="padding:10px;">{% trans 'Compete With Others' %}</h2>
                <img src="{{ STATIC_URL }}img/compete-300-md.png" class="center-block img-responsive" alt="Responsive image">
                <p class="text-justify">{% trans 'Use your best photos as your weapons. Compete against other players and win. Duels and leagues await you!' %}</p>
                <p><a class="btn btn-default" href="#compete" role="button">{% autoescape off %}{% trans 'View details' %}&raquo;{% endautoescape %}</a></p>
            </div>
            <div class="col-sm-4">
                <h2 class="bg-danger text-center" style="padding:10px;">{% trans 'Gloves Are Off' %}</h2>
                <img src="{{ STATIC_URL }}img/gloves-300-md.png" class="center-block img-responsive" alt="Responsive image">
                <p class="text-justify">{% trans 'No more sweet comments and boring photo feeds. Find out what you are really worth as a photographer and as photo critic.' %}</p>
                <p><a class="btn btn-default" href="#gloves" role="button">{% autoescape off %}{% trans 'View details' %}&raquo;{% endautoescape %}</a></p>
            </div>
        </div>
    </div> <!-- /container -->

    <div class="jumbotron" id="buildempire" style="margin-bottom: 50px;">
        <div class="container">
            <h2>{% trans 'Build Your Photo Empire' %}</h2>
            <p>
                {% trans 'Welcome to the breakthrough game for photographers. It is time to show off your photography skills against world-class photographers. Discover this revolutionary game now and become #1!' %}
            </p>
            <p><a class="btn btn-primary btn-lg" href="#singnupform" role="button">{%  trans 'Sign up' %}&raquo;</a></p>
        </div>
    </div>

    <div class="jumbotron" id="compete" style="margin-bottom: 50px;">
        <div class="container">
            <h2>{% trans 'Compete With Others' %}</h2>
            <p>
                {% trans 'Welcome to the breakthrough game for photographers. It is time to show off your photography skills against world-class photographers. Discover this revolutionary game now and become #1!' %}
            </p>
            <p><a class="btn btn-primary btn-lg" href="#singnupform" role="button">{%  trans 'Sign up' %}&raquo;</a></p>
        </div>
    </div>

    <div class="jumbotron" id="gloves" style="margin-bottom: 50px;">
        <div class="container">
            <h2>{% trans 'Gloves Are Off' %}</h2>
            <p>
                {% trans 'Welcome to the breakthrough game for photographers. It is time to show off your photography skills against world-class photographers. Discover this revolutionary game now and become #1!' %}
            </p>
            <p><a class="btn btn-primary btn-lg" href="#singnupform" role="button">{%  trans 'Sign up' %}&raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <hr>
        <footer>

            <div class="container-fluid">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-xs-12">
                        <p class="label label-default">&copy; Funtograph 2015</p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
{% endblock bootstrap3_content %}

