{% extends 'base.html' %}
{% load i18n %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        {% bootstrap_messages %}

        {% block nav %}
        <section>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Funtograph</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">{% trans 'Sign in' %}</button>
                        </form>

                    </div><!--/.navbar-collapse -->
                </div>

            </nav>
        </section>
        {% endblock nav %}



        <section class="jumbotron">
            <div class="container">
                <h1>{% trans 'Hello, photographer!' %}</h1>
                <h2 class="mission-statement">
                    {% trans 'Welcome to the breakthrough web site for photographers. It is time to show off your photography skills against world-class photographers. Join this revolutionary game and become #1!' %}
                </h2>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">{%  trans 'Learn more' %}&raquo;</a></p>
            </div>
        </section>




        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>{% trans 'Build Your Photo Empire' %}</h2>
                    <p>{% trans 'Start from scratch and become the most prominent photographer. Build your empire step by step and rule the photo world!' %}</p>
                    <p><a class="btn btn-default" href="#" role="button">{% autoescape off %}{% trans 'View details' %}&raquo;{% endautoescape %}</a></p>
                </div>
                <div class="col-md-4">
                    <h2>{% trans 'Build Your Photo Empire' %}</h2>
                    <p>{% trans 'Start from scratch and become the most prominent photographer. Build your empire step by step and rule the photo world!' %}</p>
                    <p><a class="btn btn-default" href="#" role="button">{% autoescape off %}{% trans 'View details' %}&raquo;{% endautoescape %}</a></p>
                </div>
                <div class="col-md-4">
                    <h2>{% trans 'Build Your Photo Empire' %}</h2>
                    <p>{% trans 'Start from scratch and become the most prominent photographer. Build your empire step by step and rule the photo world!' %}</p>
                    <p><a class="btn btn-default" href="#" role="button">{% autoescape off %}{% trans 'View details' %}&raquo;{% endautoescape %}</a></p>
                </div>
            </div>

            <hr>
            <footer>

                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-9">
                            <p class="label label-default">&copy; Funtograph 2015</p>
                        </div>
                        <div class="col-md-3">
                            <div id="navbar" class="navbar-collapse collapse">
                                {% get_current_language as LANGUAGE_CODE %}
                                <span class="label label-default">Current Language: {{ LANGUAGE_CODE }}</span>
                                <form action="/i18n/setlang/" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    <span>
                                        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                                    </span>
                                    </div>
                                    <div class="form-group">
                                    <select name="language" class="btn btn-default btn-sm">
                                        {% for lang in LANGUAGES %}
                                            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                                        {% endfor %}
                                    </select>
                                        <input type="submit" class="btn btn-sucess btn-sm" value="Go" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div> <!-- /container -->
    </div>

{% endblock content %}