body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.intro-header {
    padding-top: 15px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 5px;
    text-align: center;

}

.header-glyph-style {
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(98, 98, 98);
}

.funtograph-header {
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

.intro-message {
    position: relative;
    padding-top: 1%;
    padding-bottom: 3%;

    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(98, 98, 98);
}

.intro-header > h1 {
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(98, 98, 98);
    font-size: 5em;
}

.intro-message > h1 {
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(98, 98, 98);
    font-size: 5em;
}

.intro-message > h2 {
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(98, 98, 98);
    font-size: 3em;
}

.intro-message > h4 {
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(98, 98, 98);
    font-size: 1.5em;
}