{% extends 'bootstrap.html' %}


{% block bootstrap3_extra_head %}
    {{ block.super }}
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
{% endblock bootstrap3_extra_head %}

{% block bootstrap3_content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1565524137020631&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {{ block.super }}


{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
  {% include "ga.html" %}
{% endif %}
{% endblock bootstrap3_content %}



