{% extends 'bootstrap.html' %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% load bootstrap3 %}
{% load cloudinary %}

{% block bootstrap3_title %}
    {%  block title %}
    {% endblock title %}
{% endblock %}

{% block bootstrap3_extra_head %}
    {{ block.super }}

    {# Stops zooming on touchscren devices #}
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    {% dajaxice_js_import %}

    {%  block extra_head %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/funtograph-common.css">
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    {% endblock extra_head %}

    {% block additional_css %}

    {% endblock additional_css %}
{% endblock %}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/funtograph-common.js" type="text/javascript" charset="utf-8"></script>
    {%  block extra_script %}
    {% endblock extra_script %}
{% endblock %}



{% block bootstrap3_content %}
    {%  block navbar %}
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'lander:index' %}"><img src="{{ STATIC_URL }}img/Funtograph-onlypic-sq-20.png"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'members:dashboard' %}">{% trans 'Dashboard' %}</a></li>


                        <li><a href="{% url 'characters:index' %}">{% trans 'Photographers' %}</a></li>

                        <li class="divider"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans 'Contests' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'duels:index' %}">{% trans 'Duels' %}</a></li>
                                <li><a href="#">{% trans 'Tournaments' %}</a></li>
                                <li><a href="#">{% trans 'Leagues' %}</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">{% trans 'Collectives' %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'members:logout' %}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {%  endblock navbar %}

    {%  block statusbar %}
        <nav class="statusbar">
            <div class="container">
                <div class="col-xs-3">
                    <button class="btn btn-xs btn-default funtograph-statusbar-button"><span class="glyphicon glyphicon-user"></span></button>
                    <small>{{ statusbar_name }}</small>
                </div>
                <div class="col-xs-2"><button class="btn btn-xs btn-default funtograph-statusbar-button">{% trans 'LVL' %}</button><small>{{ statusbar_level }}</small></div>
                <div class="col-xs-3"><button class="btn btn-xs btn-default funtograph-statusbar-button">{% trans 'EXP' %}</button><small>{{ statusbar_current_xp }}</small></div>
                <div class="col-xs-2"><button class="btn btn-xs btn-default funtograph-statusbar-button"><span class="glyphicon glyphicon-record"></span></button><small>{{ statusbar_funtocredits }}</small></div>
                <div class="col-xs-2"><button class="btn btn-xs btn-default funtograph-statusbar-button"><span class="glyphicon glyphicon-heart"></span></button><small>{{ statusbar_current_energy }}/{{ statusbar_max_energy }}<small></small></div>
            </div>
        </nav>

    {%  endblock statusbar %}


    <div class="container funtograph-header" >
        <div class="intro-header">
            <div align="center">
                {% block content_header_title %}{% endblock content_header_title %}
            </div>

            <div class="intro-message">
                <h4>{% block content_header_message %}{% endblock content_header_message %}</h4>
            </div>
        </div>
    </div>

    <div class="container funtograph-breadcrumbs-panel">
        <div class="row">
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </div>
    </div>

    <div class="container funtograph-main-panel">
        {% block content %}
        {%  endblock content %}

    </div> <!--main container-->

    <div class="container funtograph-main-panel" style="margin-top: 20px;">
        <div class="row">
            <div class="col-xs-4">
                <button class="btn btn-default btn-small center-block" onclick="back_button();">
                <span class="glyphicon glyphicon-step-backward"></span></button>
            </div>
            <div class="col-xs-4">
                <a href="{% url 'members:dashboard' %}"><button class="btn btn-default btn-small center-block"><span class="glyphicon glyphicon-home"></span></button></a>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-default btn-small center-block" onclick="forward_button();"><span class="glyphicon glyphicon-step-forward"></span></button>
            </div>
        </div>
    </div>

    {% block footer %}
        <div class="container">
            <hr>
            <footer>

                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="label label-default">&copy; Funtograph 2015</p>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
    {%  endblock footer %}

    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
        {% include "ga.html" %}
    {% endif %}

{% endblock bootstrap3_content %}