{% extends "memberbase.html" %}
{% load i18n %}
{% load cloudinary %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
{% endblock bootstrap3_extra_head %}

{% block additional_css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/photographers.css" rel="stylesheet">
{% endblock additional_css %}


{% block content_header_title %}
    {{ block.super }}
    <h1><span class="glyphicon glyphicon-camera header-glyph-style"></span></h1>
{% endblock content_header_title %}

{% block content_header_message %}
    {%  trans 'Funtograph Photographers Rankings' %}
{% endblock content_header_message %}

{% block breadcrumbs %}
        <li><a href="{% url 'members:dashboard' %}">{% trans 'Dashboard' %}</a></li>
        <li class="active"><a href="{% url 'characters:index' %}">{% trans 'Photgraphers' %}</a></li>
{% endblock breadcrumbs %}

{% block content %}
    {{ block.super }}


    <div class="col-xs-12 col-lg-offset-3 col-lg-6 funtograph-sub-panel">
        {%  if photographers %}
            <table class="table">
                <tr>
                    <th class="col-sm-1">{% trans 'Ranking' %}</th>
                    <th class="col-sm-6">{% trans 'Photographer' %}</th>
                    <th class="col-sm-2">{% trans 'Level' %}</th>
                    <th class="col-sm-3">{% trans 'Current XP' %}</th>
                </tr>

                {% for photographer in photographers %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>
                            <a href="{% url 'characters:photographer' p_photographer_name=photographer.name %}">{{ photographer.name }}</a>
                            {% if my_photographer.id == photographer.id %}&nbsp;<span class="glyphicon glyphicon-user"></span>{% endif %}
                        </td>
                        <td>{{ photographer.level }}</td>
                        <td>{{ photographer.current_xp }}</td>

                    </tr>
                {%  endfor %}
            </table>
        {% else %}
            <p>{% trans 'There are no photographers registered on Funtograph.' %}</p>
        {% endif %}
    </div>

{% endblock content %}